// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurant-list {
  background-color: #eaebff;

  .restaurant-item {
    background-color: #fff6fc;
    border-radius: 3px;
    height: 100px;
    width: 320px;
    padding: 4px;
    margin: 8px;
    text-align: center;
    border: 1px solid red;

    .rating-container {
      margin: 0 auto;
      width: 100%;

      .rating-star {
        height: 16px;
        width: 16px;
        background-size: contain;
        float: left;

      }

      .empty-star {
        background-image: url('empty-star.png');
      }

      .full-star {
        background-image: url('full-star.png');
      }
    }

    .ten-bis-icon {
      margin: 4px;
      float:right;
      height: 24px;
      width: 24px;
      background-size: contain;
      background-image: url(10bisIcon.png);
    }
  }
}
