// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurant-list {
  background-color: #e0dcff;

  .restaurant-item {
    background-color: #fff6fc;
    border-radius: 3px;
    height: 140px;
    width: 320px;

    .rating-container {
      margin: 0 auto;
      width: 100%;

      .rating-star {
        height: 40px;
        width: 40px;
        background-size: contain;
        float: left;
      }

      .empty-star {
        background-image: url('empty-star.png');
      }

      .full-star {
        background-image: url('full-star.png');
      }
    }

  }
}
