// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurant-list {
  height: 100%;
  display: flex;
  flex-flow: nowrap;
  flex-direction: column;
  justify-content: flex-start;

  .restaurant-item {
    display: flex;
    flex-direction: row;
    background-color: #fff6fc;
    height: 100px;
    width: 320px;
    padding: 4px;
    margin: 8px;
    text-align: center;
    border: 1px solid red;


    .restaurant-cuisine {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-basis: 25%;

      .cuisine-icon {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 64px;
        width: 64px;
        margin: 0 auto;


        span {
          font-size: 70px;
          font-family: "ef_cuisinesregular";
          color: red;
        }
      }


    }

    .restaurant-info {
      flex-basis: auto;
      display: flex;
      width: 100%;
      flex-flow: nowrap;
      flex-direction: column;
      justify-content: flex-start;

      .restaurant-name {
        margin-top:18px;
        flex-basis: 24px;
        font-size: 22px;
        text-align: left;
        padding-left: 20px;

        .ten-bis-icon {
          margin: 4px;
          float:right;
          height: 24px;
          width: 24px;
          background-size: contain;
          background-image: url(10bisIcon.png);
        }
      }


      .restaurant-rating {
        flex-basis: 24px;
        flex-grow: 1;
        text-align: left;
        padding-left: 20px;

        .rating-container {
          display: flex;
          font-size: 18px;

          .rating-star {
            height: 16px;
            width: 16px;
            background-size: contain;
            float: left;

          }

          .empty-star {
            background-image: url('empty-star.png');
          }

          .full-star {
            background-image: url('full-star.png');
          }
        }

      }

      .restaurant-deliver-time {
        flex-basis: auto;
        font-size: 16px;
        color: #656565;
        vertical-align: bottom;
        text-align: left;
        padding-left: 20px;
        margin-bottom: 4px;
      }



    }




  }
}

.restaurant-message {
  font-size: 20px;
  color: red;
  padding: 4px;
  margin-top: 16px;
  text-align: center;
}
